.format {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #96969666;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 0rem 3rem; /* inner spacing */

  overflow-y: auto;
  overflow-x: hidden;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE/Edge */
  -ms-overflow-style: none;
}
